img {
  transition: transform .5s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}
*
{
	margin:0px;
	padding:0px;
}
#menu
{
 width: 100%;
 &amp;lt;span id="IL_AD11" class="IL_AD"&amp;gt;border&amp;lt;/span&amp;gt;: 1px solid #000;
 height: 50px;
 background-color: white;
 font-family: Helvetica, sans-serif;
 font-size: 13px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}

#menu ul
{
    margin-top:  10px;
	list-style: none;
}
  
#menu ul li
{
margin-top: 6px;
width:120px;
height:35px;
text-align:center;
border:1px solid white;
list-style-type: none;
float:left;
margin-left: 2px;
background-color: red;
line-height:35px;
border-radius:20px;
position:relative;
}

#menu ul li a:link 
{
   color: black;
   text-decoration: none;
   text-transform: uppercase;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
}
              
#menu ul li a:visited
{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}
             
#menu ul li a:hover
{
   color: white;
   display:block;
   background-color: Gold;
   border-radius:20px;
   -webkit-box-shadow: 5px 5px 2px rgba(50, 10, 50, 0.93);
   -moz-box-shadow:    5px 5px 2px rgba(50, 10, 50, 0.93);
   box-shadow:         5px 5px 2px rgba(50, 10, 50, 0.93);
}

#menu ul ul
{
	position:absolute;
	display:none;
	padding:0px;
	margin:0px;
}

#menu ul li:hover>ul
{
	display:block;
}

/*menu edit end*/

#display
{
 margin-top:10px;
 margin-left:60px;
 width: 15%;
 &amp;lt;span id="IL_AD11" class="IL_AD"&amp;gt;border&amp;lt;/span&amp;gt;: 1px solid #000;
 height: 250px;
 background-color: white;
 font-family: Helvetica, sans-serif;
 font-size: 13px;
 border-radius: 15px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 float:left;
}

#display:hover
{
 margin-top:10px;
 margin-left:22px;
 width: 20%;
 &amp;lt;span id="IL_AD11" class="IL_AD"&amp;gt;border&amp;lt;/span&amp;gt;: 1px solid #000;
 height: 250px;
 background-color: white;
 font-family: Helvetica, sans-serif;
 font-size: 13px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 float:left;
}

#ImgForSlideDive
{
	width:100%;
	height:100%;
	image-orientation: 90;
	border-radius:50px;
}

/*Div slide container*/
/*
@keyframes slide {
  0% { margin-left: 0; }
  28.333% { margin-left: -300%; }
  33.333% { margin-left: 0%; }
  61.667% { margin-left: -250%; }
  66.667% { margin-left: 0%; }
  95% { margin-left: -250%; }
  100% { margin-left: 0; }
}*/


@keyframes slide {
  0% { margin-left: 0; }
  14.28% { margin-left: -100%; }
  28.57% { margin-left: -200%; }
  42.85% { margin-left: -300%; }
  57.14% { margin-left: -200%; }
  71.43% { margin-left: -100%; }
  100% { margin-left: 0; }
}
/*
@keyframes slide {
  0% { margin-left: 0; }
  33.333% { margin-left: -100%; }
  66.666% { margin-left: -200%; }
  100% { margin-left: -300%; }
  66.666% { margin-left: 200%; }
  33.333% { margin-left: 100%; }
  0% { margin-left: 0; }
}*/

.slide-container {
  overflow: hidden; /* try commenting this line out! */
  width: 90%;
  height: 90%;
  margin-top:5%;
  margin-left:5%;
  border: 1px solid #000000;
  border-radius:20%;
}
.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.slide:first-of-type {
  animation: slide 30s ease-in-out;
  animation-iteration-count: infinite;
}
.slide-container:hover .slide:first-of-type {
  animation-play-state: paused;
}